!!!
%html
  %head
    %title Simple Goal
    = csrf_meta_tag
    = stylesheet_link_tag :application
    = javascript_include_tag :application
  %body
    #container
      #header
        %h1
          %a{:href => "/"} Simple Goal
        #user-navigation
          - if user_signed_in?
            = "Signed in as #{current_user.email} Not you?"
            = link_to "Sign out", destroy_user_session_path, :method => :delete
          - else 
            = link_to "Sign up", new_user_registration_path
            or 
            = link_to "sign in", new_user_session_path
        #main-navigation
      #wrapper
        .flash
          - flash.each do |type, message|
            %div{:class => "message #{type}"}
              %p= message
        #main
          = yield
          #footer
